layout {
	default_tab_template {
		pane size=1 borderless=true {
			plugin location="zellij:tab-bar"
		}
		children
		pane size=2 borderless=true {
			plugin location="zellij:status-bar"
		}
	}
	tab name="system" {
		pane name="btm" borderless=true command="btm"
	}
	tab name="notes" cwd="~/notes" {
		pane split_direction="vertical" {
			pane size="15%" {
				plugin location="zellij:strider"
			}
		}
	}
	tab name="code" cwd="~/code" {
		pane split_direction="vertical" {
			pane
			pane stacked=true {
				pane
			}
		}
	}
}
